<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}" />
    <title></title>
  </head>
  <nav>
    <a href="{{path('homepage')}}">Inicio</a>
    <a href="{{path('login')}}">Login</a>
    <a href="{{path('top100')}}">TOP 100 Jugadores</a>
    <a href="{{path('contactanos')}}">Contactanos</a>
    <a href="{{path('registro')}}">Registrate</a>

  </nav>
  <body>


  </body>
</html>
