<!--Devolvemos el jugador buscado por su id-->
<!--No utilizamos el for ya que al busvar por find y el id no hace falta el for -->
<p>
El Jugador encontrado es:
</p>
<br>
Nombre:{{jugador.nombre}}
<br>
Apellidos:{{jugador.apellidos}}
<br>
Posicion:{{jugador.posicion}}
<br>
Media:{{jugador.media}}
<br>
Media:{{jugador.tipo}}
